/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #d0f9e4;
  background-image: url("./photos/mainBG.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  width: 100vw;
  background-size: contain;
}

h1,
h2 {
  color: #154f30;
}

p {
  font-size: larger;
}

.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.icon {
  display: flex;
  gap: 10px;
}

.upcomingprayer {
  background: #154f30;
  padding: 30px 40px;
  color: white;
  border-radius: 20px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 50px; */
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  /* margin-top: 100px; */
  margin: 60px 0;
}

#clock-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 45px;
  margin-bottom: 10px;
}

#clock {
  /* Add styles for the clock here */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#next-prayer {
  display: flex;
  gap: 10px;
  align-items: center;
}

#prayer-times {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.prayer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

section {
  width: 100%;
}

.times {
  display: flex;
  justify-content: space-evenly;
}

.time {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}
